@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

$white: #fff;
$black: #000;

$base-lighter: #888;
$base-light: #555;
$base: #444;
$base-dark: #333;
$base-darker: #222;

$highlight: #d4492a;

$padding: 10px;