<div class="top">
  <a href="https://github.com/planavsky82" target="_blank">
    <span class="fa fa-github"></span> 
    <span class="name">GitHub</span>
  </a>
  <a href="https://plnkr.co/users/planavsky82" target="_blank">
    <span class="fa fa-edit"></span> 
    <span class="name">Plunker</span>
  </a>
</div>
<header>
  <h1 class="title">Planavsky.<span>com</span></h1>
  <div class="logo"></div>
</header>
<section class="subtitle">
  <div class="icons left">
    <fa-icon [icon]="['fab', 'js']"></fa-icon>      
    <fa-icon [icon]="['fab', 'angular']"></fa-icon>
    <fa-icon [icon]="['fab', 'css3-alt']"></fa-icon>
    <fa-icon [icon]="['fab', 'node-js']"></fa-icon>
    <fa-icon [icon]="['fab', 'sass']"></fa-icon>
  </div>
  <div class="icons right">
    <fa-icon [icon]="['fab', 'html5']"></fa-icon>
    <fa-icon [icon]="['fab', 'jenkins']"></fa-icon>
    <fa-icon [icon]="['fab', 'npm']"></fa-icon>
    <fa-icon [icon]="['fab', 'git']"></fa-icon> 
    <fa-icon [icon]="['fab', 'less']"></fa-icon>   
  </div>
</section>
<section class="content">
  <app-main></app-main>
</section>
<footer></footer>

