<div class="top">
  <a href="https://github.com/planavsky82" target="_blank">
    <span class="fa fa-github"></span> 
    <span class="name">GitHub</span>
  </a>
  <a href="https://plnkr.co/users/planavsky82" target="_blank">
    <span class="fa fa-edit"></span> 
    <span class="name">Plunker</span>
  </a>
</div>
<header>
  <h1 class="title">Planavsky.<span>com</span></h1>
  <div class="logo"></div>
</header>
<section class="subtitle">

</section>
<section>
  <app-main></app-main>
</section>
<footer></footer>

