<div class="background-image"></div>
<div class="background-gradient"></div>
<div class="main-content">
	<div class="header"></div>
	<div class="header-text"><i class="fa fa-list-ol"></i> My<span class="fantasy-football">FantasyFootball</span>Rankings.com</div>
  <power-nav [data]="navigation" (selectItem)="navigate($event)"></power-nav>

	<div class="content-container">
    <power-login></power-login>
    <power-pwa-indicator></power-pwa-indicator>
    <router-outlet></router-outlet>
	</div>
</div>



