<a class="neon blue-highlight highlight" (click)="navigate()">Manage Your Own Rankings</a>

<div class="title">
	How Accurate are your Fantasy Football Rankings?
	<span>
    If you are a Fantasy Football enthusiast, you probably have the resources around the web that you utilize
    to help make lineup decisions.
  </span>

  <span>
    What if you were able to <a (click)="navigate()">manage your own rankings</a> to make your own lineup and draft-day decisions,
    help others determine their line-ups by sharing your rankings,
    and see how accurate you are compared to the rest of the MyFantasyFootballRankings.com community in a little friendly competition?
  </span>

  <span>
    If that seems fun, <a (click)="navigate()">sign up and give it try</a>. Maybe you can become the next fantasy football expert!
  </span>
</div>
