<div class="intro">
  How Accurate are your Fantasy Football Rankings?

  <power-read-more>
    <span>
      If you are a Fantasy Football enthusiast, you probably have ranking resources around the web that you utilize
      to help make lineup and draft day decisions.
    </span>

    <span>
      What if you were able to <a (click)="navigate()">manage your own rankings</a> to make your own lineup and draft day decisions,
      help others determine their lineups by sharing your rankings,
      and see how accurate you are compared to the rest of the MyFantasyFootballRankings.com community in a little friendly competition?
    </span>

    <span>
      If that seems fun, <a (click)="navigate()">sign up and give it try</a>. Maybe you can become the next fantasy football expert!
    </span>
  </power-read-more>
</div>

<a class="neon blue-highlight highlight" (click)="navigate()">Manage Your Own Rankings</a>

<div class="leaders">
  <h2>Leader Board</h2>
</div>
