@import "../../styles";

:host {
	a.highlight {
		color: $gold-1;
		cursor: pointer;
		font-size: $font-size-h2;
		font-weight: 100;
		text-decoration: underline;
	}

	.title {
		padding: 90px;
    color: $white;
    background-color: $gray-alt-3;
		font-size: $font-size-h2;
		font-weight: 400;
		margin: 20px 0;
    text-align: left;
    opacity: 0.70;

		span {
      display: block;
      margin-top: 30px;
			color: $white;
			font-size: $font-size-h5;
			font-weight: 400;
		}
	}

	@media only screen and (max-width: $screen-sm) {
		a.highlight {
			font-size: $font-size-h3;
			font-weight: 200;
		}

		.title {
      padding: 30px;
			font-size: $font-size-h3;
      font-weight: 200;
      opacity: 1;

			span {
        font-size: $font-size-h4;
        font-weight: 200;
			}
		}
	}
}
