:root {
  --primary: rgb(0, 153, 255);
  --black: #000;
  --white: #fff;

  --grey-base: #222;
  --grey-1: #111;
  --grey-2: #333;

  --spacing-base: 5px;
  --spacing-md: calc(var(--spacing-base) * 2);
  --spacing-lg: calc(var(--spacing-base) * 3);
  --spacing-xl: calc(var(--spacing-base) * 4);
  --spacing-xxl: calc(var(--spacing-base) * 5);

  --radius: 5px;

  --weight-base: 300;
  --weight-semibold: 700;

  --font-size-base: 14px;
  --font-size-md: calc(var(--font-size-base) * 1.25);
  --font-size-lg: calc(var(--font-size-base) * 1.40);
  --font-size-xl: calc(var(--font-size-base) * 1.50);
  --font-size-xxl: calc(var(--font-size-base) * 1.75);
  --font-size-xxxl: calc(var(--font-size-base) * 2);

  --breakpoint-sm: 550px;

  /* not yet supported */
  --mixin-rounded: {
    border-radius: var(--radius);
  }
}
